
/*BASICS*/

/*FONT*/
@font-face {
    font-family: "freightsanspro-medium";
    src: url(../font/freightsanspro-medium.otf) format('opentype');   
}

@font-face {
    font-family: "poynterosdisp-bold";
    src: url(../font/poynterosdisp-bold.otf) format('opentype');
}


p {
    font-size: 24px;
    color: white !important;
}

h1 {
    font-size: 32px;
    font-family: poynterosdisp-bold;
    color: #C25747;
}

p {
    font-family: freightsanspro-medium;
}


@-ms-viewport {
    width: device-width;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -ms-content-zooming: none;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#pano {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#toggleDeviceOrientation {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(194, 87, 71);
    background-color: rgba(45, 48, 63, 0.8);
}

    #toggleDeviceOrientation img {
        width: 34px;
        margin: 8px;
    }

    #toggleDeviceOrientation .disable {
        display: none;
    }

    #toggleDeviceOrientation.enabled .disable {
        display: block;
    }

    #toggleDeviceOrientation.enabled .enable {
        display: none;
    }
